.hero {
  padding: 6rem 0;
}

.name {
  font-size: 2.8em;
  font-weight: 200;
  margin-bottom: 1rem;
}

.name strong {
  font-weight: 600;
}

.title {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 1rem;
}

@media screen and (min-width: 540px) {
  .name {
    font-size: 4em;
  }
  .title {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 740px) {
  .name {
    font-size: 4.5em;
  }
}
