.hero {
  padding: 3rem 0;
}

.name {
  font-size: 4.5em;
  font-weight: 200;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.name strong {
  font-weight: 600;
}

.title {
  font-size: 1.4em;
  font-weight: 400;
  margin-bottom: 1rem;
}
