.wrapper {
  padding: 1.5rem 0 7rem 0;
}

.paragraph {
  font-size: 1em;
  line-height: 1.4;
}

.paragraph:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.paragraph strong {
  font-weight: 600;
}

@media screen and (min-width: 740px) {
  .paragraph {
    font-size: 1.1em;
    margin-bottom: 0;
  }
}
