.wrapper {
  padding-top: 6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.avatar {
  display: none;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title h2 {
  font-weight: 500;
  font-size: 2em;
  text-transform: capitalize;
  line-height: 1;
}

.title a {
  color: var(--color-primary);
  padding-left: 0.5rem;
}

.description {
  padding: 1rem 0;
  font-size: 2em;
  font-weight: 200;
}

.imageWrapper {
  width: 100%;
  padding: 2rem 0;
}

@media screen and (min-width: 620px) {
  .avatar {
    display: block;
  }
  .title h2 {
    font-size: 3em;
  }
  .description {
    font-size: 4em;
  }
}

@media screen and (min-width: 760px) {
  .wrapper {
    gap: 3rem;
  }
}
