@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800;900&display=swap');

:root {
  --color-primary: #2563eb;
  --text-primary-color: #010101;
  --background-primary-color: #fefefe;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-primary-color);
  color: var(--text-primary-color);
  font-weight: 400;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}
